@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Rubik", serif;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rich-black: #0E1C26ff;
  --rich-black-2: #11212Dff;
  --gunmetal: #142633ff;
  --gunmetal-2: #172B3Aff;
  --gunmetal-3: #1A3040ff;
  --prussian-blue: #1D3447ff;
  --prussian-blue-2: #20394Dff;
  --indigo-dye: #233E54ff;
  --indigo-dye-2: #26435Aff;
  --indigo-dye-3: #294861ff;
}

body {
  background: linear-gradient(
    to right,
    var(--rich-black),
    var(--rich-black-2),
    var(--gunmetal),
    var(--gunmetal-2),
    var(--gunmetal-3),
    var(--prussian-blue),
    var(--prussian-blue-2),
    var(--indigo-dye),
    var(--indigo-dye-2),
    var(--indigo-dye-3)
  );
  min-height: 100vh;
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  text-decoration: none;
}

.nav h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}

.searcher-container {
  border-radius: 2rem;
  width: 21rem;
  height: 4rem;
  position: relative;
  box-shadow: .5rem .5rem 1rem .1rem rgba(0, 0, 0, 0.5);
}

.icon-searcher {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-searcher {
  position: absolute;
  width: 14rem;
  height: 4rem;
  top: 0;
  left: 4rem;
  background-color: inherit;
  display: flex;
  justify-content: initial;
  align-items: center;
}

.input-searcher input {
  width: 90%;
  height: 100%;
  border: none;
  font-size: 1rem;
}

.input-searcher input:focus {
  outline: none;
  border: none;
}

.button-searcher {
  position: absolute;
  width: 7rem;
  height: 4rem;
  top: 0;
  right: 0;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 2rem;
}

.button-searcher:hover{
  cursor: pointer;
}

.main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main section {
  width: 30%;
}

.menu-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: .5rem;
  box-shadow: .5rem .5rem 1rem .1rem rgba(0, 0, 0, 0.5);
}

.main section h3 {
  color: #fff;
  font-size: 1.5rem;
}

.buttonShow {
  border: .1rem solid #fff;
  width: 7rem;
  height: 3rem;
  background-color: inherit;
  border-radius: 4rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main section button:hover {
  cursor: pointer;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 12rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #fff;
  box-shadow: .5rem .5rem 1rem .1rem rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
}

.resultPosterContainer {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultPosterContainer img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: .2rem;
}

.resultDataContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.infoContainer {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}

.interestContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .5rem;
}

.infoText span {
  font-size: .5rem;
}

@media (max-width: 768px) {
  .nav {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .nav h1 {
    font-size: 2rem;
  }

  .searcher-container {
    margin-bottom: 1rem;
  }

  .input-searcher {
    left: 3.5rem;
  }

  .main {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .main section {
    width: 90%;
  }

  #series, #movies, #favorites {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch; /* Suaviza el scroll en móviles */
    gap: 4rem; /* Espacio entre elementos */
    height: 20rem;
  }

  .result-container {
    flex-shrink: 0;
    justify-content: center;
    flex-direction: column;
    height: 18rem;
    width: 12rem;
  }

  .resultPosterContainer {
    width: 100%;
    height: 90%;
  }

  .resultPosterContainer img {
    width: 100%;
    height: 100%;
  }

  .resultDataContainer {
    width: 100%;
    height: 20%;
    display: block;
    text-align: center;
  }

  .infoText {
    height: 100%;
    font-size: .8rem;
  }

  .infoText span {
    display: none;
  }

  .interestContainer {
    display: none;
  }
}